@media screen and (max-width: 600px) {
  /* c'est une feuille de css */
  /* changer, ajouter ou annuler des propriétés qui se trouvent sur le design général */

  main,
  main article,
  main section {
    width: 100%;
    margin: 0;
  }

  .navigation p {
    font-size: 12px;
  }
  .navigation a {
    font-size: 12px;
  }
  #pageone {
  }
  h2 {
    height: 32px;
  }

  #pagetwo h2 {
    width: 100%;
    font-size: 32px;
  }
  #pageone h2 {
    width: 100%;
    font-size: 42px;
    margin-top: 30%;
    margin-bottom: 30%;
  }

  #pagetwo h2 {
    width: 100%;
    font-size: 42px;
  }

  #pagethree h2 {
    width: 100%;
    font-size: 42px;
  }

  #pagefour h2 {
    width: 100%;
    font-size: 36px;
  }

  #pagefive h2 {
    width: 100%;
    font-size: 42px;
  }

  #pageone h3 {
    width: 100%;
    font-size: 15px;
  }
  #pagetwo h3 {
    width: 100%;
    font-size: 15px;
  }
  #pagethree h3 {
    width: 100%;
    font-size: 15px;
  }
  #pagefour h3 {
    width: 100%;
    font-size: 15px;
  }
  #pagefive h3 {
    width: 100%;
    font-size: 15px;
  }

  #pageone p {
    width: 100%;
    font-size: 16px;
  }

  #pagetwo p {
    width: 100%;
    font-size: 12px;
  }

  #pagethree p {
    width: 100%;
    font-size: 12px;
  }

  #pagefour p {
    width: 100%;
    font-size: 12px;
  }

  #pagefive p {
    width: 100%;
    font-size: 12px;
  }

  #pageone {
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
  }
  #stick1 {
    max-width: 15%;
    height: auto;
    position: absolute;
    z-index: 0;
    bottom: 70px;
  }

  #stick2 {
    max-width: 20%;
    height: auto;
    position: relative;
    top: 65px;
    left: 50px;
  }

  #bio button {
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 100px;
  }

  #buttonsocial {
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  #buttonsocial p {
    display: none;
  }

  #buttonsocial img {
    margin-top: 40%;
    transition: 0.4s;
    max-width: 45%;
    height: auto;
    filter: invert(100%);
  }

  #buttonsocial article {
    margin-bottom: 0;
  }

  #bio button {
    width: 100%;
    font-size: 15px;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
  }

  #pagetwo button {
    width: 100%;
    font-size: 15px;
  }

  #presentationbox {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #biodeux {
    margin-top: 10%;
    width: 60%;
  }

  #formation {
    width: 60%;
    margin-top: 10%;
  }

  #experiences {
    width: 60%;
    margin-top: 10%;
  }

  #pagethree {
    margin-bottom: 15%;
  }
  #pagethree h2 {
    margin-bottom: 17%;
  }
  #pagethree button {
    width: 100%;
    font-size: 15px;
  }

  #progressbar {
    width: 75%;
  }

  .progressbutton {
    width: 60%;
    display: flex;
    flex-direction: row;
  }

  #pagefour button {
    width: 100%;
    font-size: 15px;
  }

  #pagefive h2 {
    margin-bottom: 20%;
  }

  .progressbutton {
    margin-bottom: 10%;
  }
  #pagefivebuttons {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  #button3 {
    width: 65%;
    font-size: 15px;
  }
  #button4 {
    width: 27%;
    font-size: 15px;
  }
  #form input {
    width: 100%;
  }

  #pagethree a {
    font-size: 13px;
  }

  #pagefour h2 {
    margin-bottom: 25%;
  }
  .pagefive img:hover {
    transform: scale(1.8);
  }
}
