@media screen and (max-width: 600px) {
  /* c'est une feuille de css */
  /* changer, ajouter ou annuler des propriétés qui se trouvent sur le design général */

  main,
  main article,
  main section {
    width: 100%;
    margin: 0;
  }

  h2 {
    height: 32px;
  }

  #pagetwo h2 {
    width: 100%;
    font-size: 32px;
  }
  #pageone h2 {
    width: 100%;
    font-size: 42px;
  }

  #pagetwo h2 {
    width: 100%;
    font-size: 42px;
  }

  #pagethree h2 {
    width: 100%;
    font-size: 42px;
  }

  #pagefour h2 {
    width: 100%;
    font-size: 42px;
  }

  #pagefive h2 {
    width: 100%;
    font-size: 42px;
  }

  #pageone h3 {
    width: 100%;
    font-size: 15px;
  }
  #pagetwo h3 {
    width: 100%;
    font-size: 15px;
  }
  #pagethree h3 {
    width: 100%;
    font-size: 15px;
  }
  #pagefour h3 {
    width: 100%;
    font-size: 15px;
  }
  #pagefive h3 {
    width: 100%;
    font-size: 15px;
  }

  #pageone p {
    width: 100%;
    font-size: 12px;
  }

  #pagetwo p {
    width: 100%;
    font-size: 12px;
  }

  #pagethree p {
    width: 100%;
    font-size: 12px;
  }

  #pagefour p {
    width: 100%;
    font-size: 12px;
  }

  #pagefive p {
    width: 100%;
    font-size: 12px;
  }

  #bio button {
    width: 100%;
    font-size: 15px;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
  }

  #pagetwo button {
    width: 100%;
    font-size: 15px;
  }
  #pagethree button {
    width: 100%;
    font-size: 15px;
  }
  #pagefour button {
    width: 100%;
    font-size: 15px;
  }
  #pagefive button {
    width: 100%;
    font-size: 15px;
  }

  #pagethree a {
    font-size: 13px;
  }
}
