.link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10%;
}

.linkContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.linkContentIn {
  width: 40vw;
  margin: 5%;
  margin-top: 10%;
}

.linkContent a {
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #060606c3;
  transition-duration: 0.8s;
}

.linkContentIn a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition-duration: 0.8s;
}

.linkContentIn img {
  width: 100%;
  height: 100%;
  display: block;
  filter: blur(1);
  border-radius: 10px;
  box-shadow: 0 0 5px #ffffff, 0 0 30px #bbbbbb, 0 0 60px #7a7a7a;
}

@media screen and (max-width: 768px) {
  .link {
    margin-bottom: 100%;
  }

  .linkContent {
    flex-direction: column;
  }
}
